---
---
$break-small: 590px;

@import "variables";
@import "elements";
@import "typography";
@import "navigation";
@import "landing-page";
@import "form";
@import "layout";
@import "cta";
@import "features";
@import "pricing";
@import "testimonial";
@import "blog";
@import "code-highlighting";
@import "contact";
@import "about";
@import "posts";
@import "footer";

body::after {
    // content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/ui/index.png) top left;
    opacity: 0;

}