<blockquote class="testimonial">
	<div class="wrapper">
		{% include case-study/logo.html logo=include.case.logo %}
		<div class="quote">
			{{ include.case.testimonial.text_markdown | markdownify }}
		</div>
		<div class="author">
			<img src="{{ include.case.testimonial.image_path }}" width="68" height="68" >
			<p><span>{{ include.case.testimonial.name }}</span><br />{{ include.case.testimonial.work_title }}</p>
		</div>
		<div class="view"><a class="btn" href="{{ include.case.url }}">View Case Study &rarr;</a></p>
	</div>
</blockquote>