.workflow-diagram {
	display: flex;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: -175px -10px 0 -10px;
	color: $grey-text;
	flex-wrap: wrap;

	li {
		flex: 1 0 200px;
		margin: 0 10px;

		.material-icons {
			font-size: 38px;
			display: inline-block;
			background-color: #fff;
			color: $light-brand-color;
			padding: 20px;
			border-radius: 50%;
			box-shadow: 0px -2px 29px 5px rgba(0, 0, 0, 0.08);
		}
	}
}

.feature-content {
	h2 {
		text-align: center;
		margin-top: $space;
	}
}
