footer {

	& > .wrapper {
		padding-bottom: $half-space;
	}

	.footer-links {
		display: flex;
		flex-wrap: wrap;
		$footer-links-spacing: 20px;
		margin-left: -10px;
		margin-right: -10px;
		& > div, li {
			padding: 0 $footer-links-spacing;
		}

		& > .about, & > ul, & > .contact {
			box-sizing: border-box;
			margin: 20px 0;
		}

		& > ul, & > .contact, .filler {
			flex: 1 1 200px;
		}
	}

	.logo {
		margin-bottom: 1.2em;
		a {
			line-height: 0;
		}
	}

	p, ul {
		font-size: 1rem;
	}

	p {
		line-height: 2em;
		margin: 0;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		flex: 1;
	}

	h4 {
		padding: 0;
		margin: 0;
		text-transform: uppercase;
		letter-spacing: $upper-case-letter-spacing;
		color: #000;
		font-size: .75rem;
	}

	h4, a {
		line-height: 3em;
	}

	&, a {
		color: $footer-color;
		text-decoration: none;
		transition: color $t-time ease;
	}

	a:hover {
		color: #000;
	}
}

.about {
	flex: 1 1 200px;
	svg {
		fill: $brand-color;
	}
}

.legal-line {
	border-top: 1px solid $light-grey;
	.wrapper {
		padding-top: $quarter-space;
		padding-bottom: $quarter-space;
	}
}

.social {

	li {
		flex: 1;
	}

	.facebook {
		fill: #4A66B7;
	}

	.twitter {
		fill: #1B95E0;
	}

	.youtube {
		fill: #cc181e;
	}

	.google-plus {
		fill: #DB4437;
	}

	a {
		display: inline-block;
		padding: 0 5px;
	}

	svg {
		opacity: .8;
		transition: $t-time opacity ease;
	}

	a:hover svg {
		opacity: 1;
	}
}

@media only screen and (min-width: $menu-break) {
	.about {
		flex: 8 0 200px;
	}
}
