header {
	padding: 16px 0 10px 0;
	background: $header-color;
	color: #fff;
	min-height: 47px;

	.top-bar {
		@media #{$nav-snap} {
			display: flex;
		}

		.logo {
			a {
				display: block;
				line-height: 0;
				text-decoration: none;
				color: #fff;

				span {
					display: none;
					position: relative;
					top: -4px;
					right: -3px;
				}
			}

			svg {
				fill: #fff;
				height: 33px;
				width: 50px;
				position: relative;
				top: 5px;
			}
		}
	}

	nav {
		@media #{$nav-snap} {
			flex: 1;
			margin: 0 0 0 10px;
			display: block;

			&.right-nav {
				text-align: right;

				svg {
					width: 15px;
					position: relative;
					top: 6px;
				}
			}
		}
		display: none;

		a {
			color: #fff;
			text-decoration: none;
			display: block;
			padding: 20px 0;

			@media #{$nav-snap} {
				display: inline-block;
				padding: 7px 0;
				margin: 0 15px;
				border-bottom: 2px solid rgba(255, 255, 255, 0)
			}

			&.active, &.active:hover {
				border-bottom-color: rgba(255, 255, 255, .3);
			}

			&:hover {
				text-decoration: none;
				color: #fff;
				@media #{$nav-snap} {
					border-bottom-color: rgba(255, 255, 255, .1);
				}
			}
		}
	}
}

.nav-open header nav {
	display: block;
}

.nav-toggle {
	position: absolute;
	right: 25px;
	font-size: 1.6em;
	line-height: 1em;
	text-decoration: none;
	color: #fff;
	top: 4px;

	@media #{$nav-snap} {
		display: none;
	}
}

.hero {
	background: $header-color;
	color: #fff;
	text-align: center;
}
