.period {
	margin: -162px 0 80px 0;
	text-align: center;
	span {
		display: inline-block;
		margin: 0 auto;
		background: #fff;
		box-shadow: 0px -2px 29px 5px rgba(0, 0, 0, 0.08);
		border-radius: $border-raidus;
		a {
			text-decoration: none;
			color: $text-colour;
			padding: 15px 30px;
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: $upper-case-letter-spacing;
			font-size: $font-smaller;
			transition: $t_time background ease;

			&:first-child {
				border-top-left-radius: $border-raidus;
				border-bottom-left-radius: $border-raidus;
			}

			&:last-child {
				border-top-right-radius: $border-raidus;
				border-bottom-right-radius: $border-raidus;
			}

			&.selected {
				background: $cta-bg;
				color: #fff;
			}
		}
	}
}

.plans {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
	margin: 0 -10px 50px -10px;
	li.card {
		flex: 1 1 220px;
		padding: 0;

		h3 {
			text-align: center;
			font-size: $font-smaller;
			border-bottom: 1px solid $grey-bg;
			margin: 0;
			padding: $quarter-space 0;
			color: $grey-text;
			text-transform: uppercase;
			letter-spacing: $upper-case-letter-spacing;
		}

		.sub {
			padding: 0;
			margin: 0;
			font-size: $font-small;
			text-align: center;
		}

		ul {
			padding: 0;
			font-size: $font-small;
			margin: 20px 0 85px 0;
			list-style: none;

			li {
				display: flex;
				padding: 0;
				margin: 10px 0;
			}
		}

		.material-icons {
			color: #86d62e;
			font-size: 1rem;
			position: relative;
			top: 2px;
			margin-right: 6px;
		}
		$plan-space: 15px;
		.plan-content {
			padding: $plan-space;
		}

		.price {
			margin: 0;
			color: $brand-color;
			text-align: center;
			font-size: 1.8rem;
			font-weight: 800;

			.annually {
				display: none;
			}
		}

		.plan-cta {
			position: absolute;
			bottom: $plan-space;
			left: $plan-space;
			right: $plan-space;

			.button {
				width: 100%;
				box-sizing: border-box;
				white-space: nowrap;
			}
		}
	}
}

.addition-plan {
	text-align: center;
}

.faq {
	margin-top: $space;

	h2 {
		text-align: center;
	}

	.faq-items {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		list-style: none;
		margin: 0 -10px;

		li {
			flex: 1 1 400px;
			background: #fff;
			box-sizing: border-box;
			margin: 15px;
			border-radius: $border-raidus;
			padding: 20px;
		}

		h3 {
			margin: 0;
			font-size: 1.2rem;
			color: $brand-color;
		}

		p {
			font-size: $font-small;
		}
	}
}
