h1 {
	font-size: 2.7rem;
	margin: 0;
}

h2 {
	font-size: 2.3rem;
}

h3 {
	font-size: 2rem;
	margin-bottom: .5em;
}

h4 {
	font-size: 1.3rem;
	margin: 1.2em 0;
}

p, ul {
	font-size: 1.15rem;
	line-height: 1.8em;
}

body, input {
	font-family: 'Open Sans', sans-serif;
	color: $text-colour;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}