// Colors
$brand-color: #407afc;
$light-brand-color: #429cfc;
$footer-color: #949baa;
$light-grey: #efefef;
$grey-bg: #f6f7fc;
$cta-background-color: #364261;
$testimonial-bg: #f8faff;
$grey-text: #676c76;
$text-colour: #222;
$form-icon-colour: #828a9b;
$placeholder-colour: #b4b8c1;

// Sizes
$large-wrapper-width: 1200px;
$wrapper-width: 1000px;
$post-width: 700px;
$wrapper-pad: 20px;
$overhang: ($post-width - ($wrapper-pad * 2)) * 0.05;
$space: 90px;
$half-space: $space / 2;
$quarter-space: $half-space / 2;
$octa-space: $quarter-space / 2;
$card-padding: 30px;

// Font sizes
$font-smallest: 0.7rem;
$font-smaller: 0.8rem;
$font-small: 0.9rem;
$font-normal: 1rem;
$font-size-content: 1.15rem;

// Other
$transition-duration: 0.15s;
$text-opacity: 0.75;
$light-text-opacity: 0.4;
$border-radius: 2px;
$uppercase-letter-spacing: 1px;

// Breaks
$menu-break: 930px;
$small-break: 500px;
$overhang-break: 940px