.screenshot {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	background-color: #DDD;
	box-shadow: 0 1px 0 #ccc, 0 1px 0 1px #eee;
	border-radius: 2px;
	padding: 20px 0 0 0;
	background: #DDD url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="44" height="12" viewBox="0 0 44 12"><circle cx="6" cy="6" r="4" fill="#eee" /><circle cx="22" cy="6" r="4" fill="#eee" /><circle cx="38" cy="6" r="4" fill="#eee" /></svg>') 4px 4px no-repeat;
	line-height: 0;
}

img {
	max-width: 100%;
	height: auto;
}
